
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstheader {
    background-color: #1f2937;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.secondheader {
    display: flex;
    gap: 150px;
    padding: 5px 0 10px 0;
}
.maing {
    width: 350px;
    margin: auto;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: auto;
}
ul {
    list-style: none;
    font-size: 18px;  
    display: flex;
    gap: 20px;  
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.secondpart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}
.quote {
    color:#1f2937; 
    font-size: 36px; 
    font-style: italic; 
    font-weight: lighter;
}
.quoteb {
    background-color: #e5e7eb;
}
.call {
    background-color: #3882f6;
    color: #f9faf8; 
}
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}
button {
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    color: #f9faf8;
}
.mainimg {
    border: 0;
    background-color: #e5e7eb;
    width: 350px;
    margin: auto;
    border-radius: 0;
}
img {
    border: 2px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}