

.header {
    background-color: #1f2937;
    display: flex;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
ul {
    list-style: none;
    font-size: 18px;    
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.quote {
    color:#1f2937; 
    font-size: 36px; 
    font-style: italic; 
    font-weight: lighter;
}
.quoteb {
    background-color: #e5e7eb;
}
.call {
    background-color: #3882f6;
    color: #f9faf8; 
}
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}
button {
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    color: #f9faf8;
}
.mainimg {
    border: 0;
    background-color: #e5e7eb;
    width: 300px;
    height: 150px;
    border-radius: 0;
}
img {
    border: 2px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}